:root{
    --primary-color: #f58dff;
    --secondary-color: #ffffff;
}

body{
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--secondary-color);
}



/* Navigation Styles */
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background-color: rgba(0,0,0,0.5); /* optional but recommended */
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    margin: 0;
    list-style: none;
}

.navigation li {
    margin-right: 8px;
    border-radius: 10px;
}
.navigation li:last-child {
    margin-left: auto;
}

.navigation a {
    transition: background-color 0.2s ease;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    margin:5px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
}

.navigation a:hover {
    background-color: var(--primary-color);
}

/* Page Header Styles */

.page-header {
    position: relative;
    width:100%;
    height:100vh;
    overflow: hidden;
    text-align: center;
    color: white;
}

.page-header-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-header-logo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: min(70%, 400px); /* responsive */
    height: auto;

    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    border: var(--primary-color) 2px solid;
}